.Weather form {
    margin-bottom: 20px;
}

.Weather h2 {
  color:#7c7c77;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px, 0, 0 ,0;
}
.temp {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  margin-right: 5px;
}
p {
  color: #7c7c77;
}

Weather .float-left {
  float: left !important;
}
.Weather canvas{
  display:inline-block;
  border-style: none;
  margin-left: -15px;
  margin-right: 5px;
  margin-top: 0px;
  

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
 .units {
  position: relative;
  top: -80px;
left: 70px;
}


.col-6 {
  flex: 0 0 50%;
  max-width: 40%;
}
.float-right {
  float: right !important;
  position: relative;
  top: 10px;
  left: -20px;
  list-style: none;
  color: #7c7c7c;
}


.Header ul {
  padding: 0px;
  display: block;
  list-style: none;
  
}
.Header li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;

}
.Header {
  color: #7c7c7c;
  font-size: 16px;
  margin-top: 0px;
  margin: 0;
  padding: 0;
}
